<script type="text/javascript">


$('.rankings h2 > a').on('click', function(event) {
  event.preventDefault();

  var href = $(this).attr('href');
  $('#modal-ranking').load(href, function(responseTxt, statusTxt, xhr){
    if(statusTxt == "success")
      $('#show-ranking').modal('show');
    if(statusTxt == "error")
      alert("Error: " + xhr.status + ": " + xhr.statusText);
  });
});

$('.rankings li > a').on('click', function(event) {
  event.preventDefault();

  var href = $(this).attr('href');
  $.get(href, function(response) {
      vex.open({
          unsafeContent: response
      })
  })
});

$('.modal .close').click(function() {
  $('.modal-content p').empty();
  $('.modal').hide();
});
</script>
