html, body {
    margin: 0; padding: 0;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    background: url('/assets/images/bg-pattern-orange.png') left top repeat;
}

header { margin: 0; padding-top: 40px; min-height: 150px; overflow: visible;
  background: url('/assets/images/bg-clouds.png') center top no-repeat; }
nav    { height: 120px; margin: 25px auto; }
header, nav, main, footer { width: 100%; clear: both; }

.wrapper      { width: 930px; }
.wrapper-full { width: 100%; }
.wrapper, .wrapper-full { margin: 0 auto; overflow: visible; }

.center { text-align: center; }

#logo         { width: 130px; height: 130px; }
#banner       { width: 800px; height: 130px; overflow: hidden; }
#heroes       { width: 930px; height: 100px; background: black; }
#slider       { width: 450px; height: 270px; }
#player       { width: 480px; height: 270px; }
#contests     { width: 480px; height: 480px; }
#side-banners { width: 450px; height: 480px; }
#static-sites { width: 100%;  height: 50px; color: white; background-color: #72c313; }
#copyright    { width: 100%;  height: 50px; color: #ff5000; background-color: #4d4d4d; }

#logo img { margin-top: 10px;}
#player video { width: 100%; height: 100%; }

#logo, #banner, nav, #heroes, #slider, #player, #side-banners, #static-sites,
#contests, #copyright { float: left; text-align: center; }

nav ul li      { width: 184px; height: 100px; display: inline-block; vertical-align:bottom;}
#heroes ul li   { width: 96px; height: 100px; }
#contests ul li { width: 160px; height: 160px; }
#static-sites ul li { width: 153px; height: 50px; padding-top: 15px; }
#side-banners ul li { width: 225px; height: 240px; }
#side-banners ul li.double { width: 450px; height: 240px; }

ul.bare { padding: 0; margin: 0; list-style: none; }
ul.left li { float:left; }

nav ul li a { padding-top: 90px; min-width: 81px; display: inline-block;
  color: white; font-size: 11px; text-decoration: none; text-transform: uppercase; }
nav ul li a.admin { padding-top: 0px;}

#menu-home     { background: url('/assets/images/menu-home.png')     center 0 no-repeat; }
#menu-contests { background: url('/assets/images/menu-contests.png') center 0 no-repeat; }
#menu-ranking  { background: url('/assets/images/menu-ranking.png')  center 0 no-repeat; }
#menu-download { background: url('/assets/images/menu-download.png') center 0 no-repeat; }
#menu-login    { background: url('/assets/images/menu-login.png')    center 0 no-repeat; }

#menu-home.active     { background: url('/assets/images/menu-home-a.png')     center 0 no-repeat; }
#menu-contests.active { background: url('/assets/images/menu-contests-a.png') center 0 no-repeat; }
#menu-ranking.active  { background: url('/assets/images/menu-ranking-a.png')  center 0 no-repeat; }
#menu-download.active { background: url('/assets/images/menu-download-a.png') center 0 no-repeat; }
#menu-login.active    { background: url('/assets/images/menu-login-a.png')    center 0 no-repeat; }

.main-area { width: 610px; }
.left-sidebar, .right-sidebar { width: 160px; }
.left-sidebar, .main-area, .right-sidebar { float: left; }

#contests-page ul.contests div, .download-section div { width: 265px; margin-right: 15px; height: 250px; }
#contests-page .contest-banner img { width: 100%; min-width: 930px; min-height: 200px; }
#ranking-page .main-area { width: 470px; }
#ranking-page .right-sidebar { width: 300px; }

.download-section { width: 100%; clear: both; }
