html, body {
    margin: 0; padding: 0;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    z-index: 0;
}

.wrapper, .wrapper-full { position: relative; z-index: 2; }

header { margin-top: 5px; min-height: 150px; overflow: visible; }
nav    { margin: 15px auto 0px; background: white; opacity: 0.8; }
header, nav, main, footer, .wrapper-full  { width: 100%; clear: both; }
main { min-height: 100vh; padding-top: 0; }
h2 { line-height: 50px; margin: 0 auto; font-size: 28px; }
/* h2, h3, h4, h5, h6 { padding-left: 10px; } */
video { max-width: 100%; background: white; }

.wrapper      { width: 960px; }
/* .wrapper-ears { width: 1440px; } - for the sky banners */
.wrapper, .wrapper-ears, .wrapper-full { margin: 0 auto; overflow: visible; }

.static-site { background: #fff; opacity: 0.8; padding: 25px 40px; }
.static-site table { border-collapse: collapse; margin: 20px 0;}
.static-site table, .static-site th, .static-site td { border: 1px solid black; padding: 2px; }

.center { text-align: center; }
.clear { clear: both; }
.left { float: left; }
.right { float: right; }
.bold { font-weight: bold; }
.smaller-font { font-size: 80%; }
.bigger-font { font-size: 140%; }
.hidden { display: none!important; }
.font-fantasy { font-family: fantasy; }

#logo         { width: 130px; height: 130px; }
#logo img     { width: 100px; height: 105px; }
#heroes       { width: 960px; height: 140px; overflow: visible; }
#stroer_topbanner, #stroer_topbanner img { width: 830px; height: 130px; overflow: hidden; }

.sky-banner { display:inline-block; width: 232px; float: left;  text-align: center; padding-top: 10px; margin-bottom: 25px; }
.sky-banner#index { padding-top: 70px; }
.sky-banner img { margin-bottom: 10px; }

#slajder      { width: 474px; height: 289px; margin-right: 12px; overflow-y: hidden; }
#player       { width: 474px; height: 289px; }
.slider.box-slider-container  { width: 485px; min-height: 340px; }

#static-sites { width: 100%;  height: 50px; color: white;
  background-color: #999; opacity: 0.9; }
#static-sites a { color: white; text-decoration: none; font-weight: bold; }
#copyright    { width: 100%;  height: 50px; color: white; background-color: #777; opacity: 0.9; font-weight: bold; }

#logo img { margin-top: 10px;}
#player video, #player img { width: 100%; height: 290px; background: white; object-fit: fill; }
#player a { display: block; object-fit: fill; }

#logo, #banner, #slajder, #player, #static-sites,
#contests, #movies, #box-banners, #copyright { float: left; text-align: center; }

nav { float: left; }
nav ul li { margin-right: 20px; margin-left: 10px; }
nav ul li:first-child { margin-left: 0; }
nav ul li.right { margin-right: 0; }

nav a { text-decoration: none; text-transform: uppercase; text-align: right;
  color: black; font-weight: bold; line-height: 25px; display: inline-block;
  padding: 10px 10px 10px 40px; background: white;
}
nav a:hover, nav a.active { filter: invert(100%); -webkit-filter: invert(100%); }

.notice, .warning, .important { padding: 10px 10px 10px 10px; background: #fff; margin: 0px 0 15px 0; opacity: 0.8; text-align: center; }
.warning { background: yellow; }
.important { background: #9F9; }

#contests h2,
#movies h2,
#box-banners h2 { text-align: left; margin-bottom: 0; }

#static-sites ul li { width: 153px; height: 50px; padding-top: 15px; }

ul.bare { list-style: none; }
ul.bare { padding: 0; margin: 0; }
ul.bare li { float:left; }
ul.bare li.right { float: right; }

#menu-home      { background: white url('/assets/images/menu-home.png')     10px 10px no-repeat; }
#menu-contests  { background: white url('/assets/images/menu-contests.png') 10px 10px no-repeat; }
#menu-login     { background: white url('/assets/images/menu-login.png')    10px 10px no-repeat; }
#menu-admin     { background: white url('/assets/images/menu-admin.png')    10px 10px no-repeat; }
#menu-logout    { background: white url('/assets/images/menu-logout.png')   10px 10px no-repeat; }

#menu-back        { background: white url('/assets/images/menu-back.png')         10px 10px no-repeat; }
#menu-backgrounds { background: white url('/assets/images/menu-backgrounds.png')  10px 10px no-repeat; }
#menu-rankings    { background: white url('/assets/images/menu-rankings.png')     10px 10px no-repeat; }
#menu-users       { background: white url('/assets/images/menu-users.png')        10px 10px no-repeat; }
#menu-heroes      { background: white url('/assets/images/menu-heroes.png')       10px 10px no-repeat; }

.main { width: 480px; margin-bottom: 25px;}
.side { width: 240px; }
.main, .side { float: left; }

#heroes-page .row { margin: 0; }
.row.hero { float:right; width: 688px; margin:0; }
.hero, .hero-footer { background: #fff; opacity: 0.95; padding: 20px; }
.hero-footer { font-size: 12px; text-align: justify; margin: 20px 0; }
.hero-footer img { width: 100%; }
.hero-footer p { margin-top: 10px; padding: 0; }
.hero video { width: 100%; }
.row:after { content: ""; display: table; clear: both; }
.column-13 { width: 33.33%; float: left; }
.column-23 { width: 66.66%; float: left; }
.column-33 { width: 100%; float: left; }

.background-link {
  height: 100%; width: 100%; position: fixed; z-index: 1;
}

.rankings { margin-bottom: 25px; }
.rankings h2 { background: #ddd; color: #333; text-align: left; opacity: 0.8; font-size: 120%; margin: 0 30px 0 0; padding-left: 20px;}
.rankings ul { background: #fff; text-align: left; padding: 15px 0 15px 20px; opacity: 0.8; list-style: none; margin: 0 30px 15px 0; }
.rankings ul li { line-height: 25px; }

footer p {
    margin-top: 15px;
}

.hero #box-banners  { width: 640px; min-height: 300px; }
.hero .boxes .slick-slide { width: 192px; height: 234px; margin-left: 12px;}
.hero .boxes .slick-slide a { height: 192px; }
.hero .boxes .slick-slide p a { height: 32px; background: white;  }
.hero .boxes .slick-slide img  { width: 192px; }
.hero .boxes .slick-prev  { margin-left: 10px; }
.hero .boxes .slick-next:before  { margin-left: -25px; }

.hero-header img { width: 100%; height: 150px; margin-bottom: 17px;  box-shadow: 5px 6px 33px #2D2D2D; }
.hero-cover img { max-width: 200px; max-height: 266px; }
.hero-gadget img { max-width: 400px; max-height: 150px; margin-top: 30px; }

.contest-header { min-height: 360px; z-index: 2; position: relative; margin-bottom: 50px; }
.contest-header h1 { padding-top: 50px; }
.contest-header p { width: 480px; height: 20px; margin: 20px auto; display: block; }
.contest-header p.description { height: 60px; }

.shrink img { max-width: 100%; }

.vertical-form {
  margin: 0 auto;
  width: 470px;
  padding: 40px;
  border-radius: 3px;
  background: white;
  opacity: 0.9;
}

.game-iframe { border: 0; width: 100%; height: 80vh; }


.vertical-form input[type='text'],
.vertical-form input[type='date'],
.vertical-form input[type='email'],
.vertical-form input[type='password'],
.vertical-form input[type='number'],
.vertical-form input[type='submit'] {
    background: #fcfcfc;
    border: 2px solid #e7e7e7;
    margin: 20px auto;
    padding: 15px;
    width: 390px;
    display: block;
    border-radius: 3px;
    font-size: 18px;
    transition: opacity 0.4s;
    text-align: left;
    height: auto;
    -webkit-appearance: none;
}

.vertical-form input[type='submit'] {
  color: white;
  background: #15CD72;
  border: 0;
  font-weight: 600;
  width: 100%;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 0;
  height: auto;
  -webkit-appearance: none;
}

.vertical-form p {
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  color: #666;
}

.vertical-form legend {
  text-align: center;
  font-weight: 300;
  color: #444;
  margin: 0 auto 5px;
  font-size: 16px;
  line-height: 19px;
  text-transform: none;
  letter-spacing: 0;
}

.vertical-form input[required] {
    background-image: radial-gradient(#F66 25%, transparent 16%), radial-gradient(#F66 25%, transparent 16%);
    background-size: 1em 1em;
    background-position: right top;
    background-repeat: no-repeat;
}

.vertical-form .required:after {
  content:"*";
  color:#F66;
}

.vertical-form .agreement {
    margin-bottom: 15px;
}

.vertical-form .info {
    display:block;
}

.vertical-form .last-info {
    margin-top: 10px; display:inline-block;
}

.vertical-form .agreement label {
    color: #999;
}

.vertical-form input.center { text-align: center; }

/* MODAL */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-body img { width: 100%; }

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* video mute */

.mute {
    background: white url(../images/toggle-mute.png) no-repeat;
    width: 474px;
    height: 290px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.4;
    background-size: 100px;
    background-position: center;
    filter: invert(100%); -webkit-filter: invert(100%);
}

/* SLICK */

.slick-loading .slick-list
{
    background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '<';
}
[dir='rtl'] .slick-prev:before
{
    content: '>';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '>';
}
[dir='rtl'] .slick-next:before
{
    content: '<';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

.slider {
    width: 50%;
    margin: 0 auto;
}

.slick-slide {
  margin: 0px 0px;
}

#slajder .slick-list.draggable { height: 289px; }
#banner .slick-list.draggable { height: 136px; }

#slajder .slick-slide img, #banner .slick-slide img {
  width: 100%;
}

#heroes .slick-slide {
  margin-right: 7px;
}

.box, .boxes .slick-slide {
  width: 220px;
  height: 260px;
  margin-left: 9px;
  margin-right: 10px;
  background: white;
  margin-bottom: 15px;
}

.box img, .box video, .boxes .slick-slide img, .boxes .slick-slide video {
  width:220px;
}

.box a, .boxes .slick-slide a {
  color: black;
  text-align: center;
  text-decoration: none;
  display: block;
  height: 220px;
  overflow-y: hidden;
  background: #eee;
}

.box p, .boxes .slick-slide p { margin: 0; }
.box p a, .boxes .slick-slide p a { height: 40px; padding-top: 10px; background: white; }

#heroes .slick-list.draggable { padding: 20px 0!important; }
.boxes .slick-list.draggable { padding: 20px 10px!important; }

#heroes .slick-slide.expanded {
  transition: transform .2s; /* Animation */
  transform: scale(1.2);
  opacity: 1;
}

.box:hover {
  transition: transform .5s; /* Animation */
  transform: scale(1.1);
  opacity: 1;
}

.boxes .slick-slide.expanded-light {
  transition: transform .1s; /* Animation */
  transform: scale(1.1);
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1;
}

#heroes-slider .slick-slide {
  opacity: 0.8;
}

#heroes-slider .slick-slide img { width: 100px; height: 100px; }

.slick-active, #heroes-slider .slick-active {
  opacity: 1;
}

.slick-current, #heroes-slider .slick-current {
  opacity: 1;
}

#slajder img { height: 288px; }

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
